{% extends 'cjkcms/pages/base.html' %}

{% block navbar %}
    <!--  <block navbar> -->

    {% include 'cjkcms/snippets/navbar.html' %}

    <!-- </block navbar> -->
{% endblock %}

{% block actionbar %}
    <!--  <block actionbar> -->
    {% include 'cjkcms/snippets/actionbar.html' %}
    <!--  </block actionbar> -->
{% endblock %}

{% block breadcrumbs %}
    <!--  <block breadcrumbs> -->
    {% include 'cjkcms/snippets/breadcrumbs.html' %}
    <!--  </block breadcrumbs> -->

{% endblock %}

{% block footer %}
    <!--  <block footer> -->
    {% include 'cjkcms/snippets/footer.html' %}
    <!--  <block footer> -->

{% endblock %}
